{% extends "base.html" %}

{% block content %}
    {% if blogs is iterable%}
    <h1>{{ title }}</h1>
 
        {% for blog in blogs %}
        <h2><a href="/blog?blog_id={{ blog.id }}">{{ blog.title }}</a></h2>
        <p>{{blog.body}}</p> 
        <p>written by <a href="/blog?user={{ blog.owner.username }}">{{ blog.owner.username }}</a>&nbsp;&nbsp;|&nbsp;&nbsp;posted on {{ blog.pub_date.strftime('%b %d, %Y at %I:%M %p')}}</p>
        {% endfor %}

        {% if username %}
            {% if prev_page %}
            <a href="{{ prev_page }}">&lt; Newer Blogs</a>
            {% endif %}

            {% if prev_page and next_page %}
            &nbsp;&nbsp;|&nbsp;&nbsp;
            {% endif %}

            {% if next_page %}
            <a href="{{ next_page }}">Older Blogs &gt;</a>
            {% endif %}
        {% endif %}

        {% if not username %}
            {% if prev_page %}
            <a href="{{ prev_page }}">&lt; Newer Blogs</a>
            {% endif %}

            {% if prev_page and next_page %}
            &nbsp;&nbsp;|&nbsp;&nbsp;
            {% endif %}

            {% if next_page %}
            <a href="{{ next_page }}">Older Blogs &gt;</a>
            {% endif %}
        {% endif %}
    {% else %}
        <h1>{{ blogs.title }}</h1>
        <p>{{ blogs.body }}</p> 
        <p>written by <a href="/blog?user={{ blogs.owner.username }}">{{ blogs.owner.username }}</a>&nbsp;&nbsp;|&nbsp;&nbsp;posted on {{ blogs.pub_date}}</p>
    {% endif %}
{% endblock %}